@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-[#E5F5FF] via-[#8BD1FF] to-[#E5F5FF];
  font-family: "Inter", sans-serif;
  color: #1f2937;
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

/* Fade-in animation for popup */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
